.cart_items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}
.no {
  margin-left: 2vh;
  border: 1px solid #972727;
  border-radius: 2px;
  border-radius: 1vh;
  justify-content: space-around;
  padding-right: 0.3vh;
}
.price {
  color: #972727;
}
.mbtn {
  float: right;
  margin-right: 1rem;
  border: 1px solid #972727;
  border-radius: 2px;
}
.pbtn {
  float: right;
  margin-right: 1rem;
  border: 1px solid #972727;
  border-radius: 2px;
}
